doctype
html
    head
        title= "Stream to Wav"
        script(src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
    body
        button(onclick="startRecording()") Start Recording
        button(onclick="stopRecording()") Stop Recording
        script.
            window.EXTERNAL_APP_HOST = "#{EXTERNAL_APP_HOST}"
            window.WEB_SOCK_PORT = "#{WEB_SOCK_PORT}"
        script(src="recorder.js")
